#!/usr/bin/make -f

PKD  = $(abspath $(dir $(MAKEFILE_LIST)))
PKG  = $(shell dpkg-parsechangelog -SSource)
VER ?= $(shell dpkg-parsechangelog -SVersion)

export PYBUILD_NAME=aptly
%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	# Generate man page
	(PYTHONPATH=. help2man -n "aptly-publisher - tool for easy creation of Aptly multi component publishes" --version-string=$(VER) "python aptly/publisher/__main__.py" | sed s,__main__.py,aptly-publisher,g > debian/aptly-publisher.1)

override_dh_install:
	# aptly-publisher is using python3 by default
	rm -rf debian/python-aptly/usr/bin
	mkdir -p debian/aptly-publisher/usr
	mv debian/python3-aptly/usr/bin debian/aptly-publisher/usr/
	dh_install

## http://wiki.debian.org/onlyjob/get-orig-source
.PHONY: get-orig-source
get-orig-source:
	@echo "# Downloading..."
	uscan --noconf --verbose --rename --repack --compression xz --destdir=$(CURDIR) \
              --check-dirname-level=0 --force-download --download-version $(VER) $(PKD)
